# HAProxy global settings
global
    log stdout format raw daemon

defaults
    log global
    option httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    mode http

# Frontend escutando na porta 80
frontend http_front
    bind *:80
    mode http

    # Roteamento baseado em domínio
    acl host_portal hdr(host) -i portal.cliente3.br
    acl host_wordpress hdr(host) -i wordpress.cliente3.br
    acl host_adminer hdr(host) -i adminer.cliente3.br

    use_backend portal_backend if host_portal
    use_backend wordpress_backend if host_wordpress
    use_backend adminer_backend if host_adminer

# Backend para o portal
backend portal_backend
    mode http
    server portalHA_container portalHA_container:80

# Backend para o CMS (wordpress)
backend wordpress_backend
    mode http
    server wordpress wordpress:80

backend adminer_backend
    mode http
    server adminer adminer:8080
