# HAProxy global settings
global
    log stdout format raw daemon

defaults
    log global
    option httplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    mode http

# Frontend escutando na porta 80
frontend http_front
    bind *:80
    mode http

    # Roteamento baseado em domínio
    acl host_portal hdr(host) -i portal.cliente3.br
    acl host_cms hdr(host) -i cms.cliente3.br

    use_backend portal_backend if host_portal
    use_backend cms_backend if host_cms

# Backend para o portal
backend portal_backend
    mode http
    server portalHA_container portalHA_container:80

# Backend para o CMS (web04)
backend cms_backend
    mode http
    server web04_container web04_container:80
